<!-- views/menu.handlebars -->

<section>
    <h2>Menu</h2>

    <ul class="menu">
        {{#each produit}}
            <li data-id-produit="{{this.id_produit}}">
                <div class="nom">{{this.nom}}</div>
                <div class="prix">{{this.prix}} $</div>
                <img src="{{this.chemin_image}}" alt="{{this.nom}}">
                
                {{#if userLoggedIn}}
                    <button class="add-to-cart-btn" data-product-id="{{this.id_produit}}">Ajouter au panier</button>
                {{else}}
                    <p>Login to add items to your cart.</p>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</section>

<script type="module" src="./js/menu.js"></script>
